<form autocomplete="off" [formGroup]="locationForm" #locationForm1 style="margin: 10px" (ngSubmit)="addMarker()">
  <div class="form-group" style="margin: 10px">
    <label for="=lng">Lng : </label>
    <input name="lng" ngModel type="number" class="form-control" style="margin-right: 10px" [formControl]="lng"
      required />

    <label for="lat">Lat : </label>
    <input name="lat" ngModel type="number" class="form-control" style="margin-right: 10px" [formControl]="lat"
      required>
    <button type="submit" class="btn btn-primary mr-1">Add marker</button>
  </div>
</form>
<div #mapRef id="map" style="height: 700px"></div>
